// SCSS for Header

header {
    background-color: $color-primary-dark;
}

.header {

    // Container
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    // Logo
    &__logo {
        display: block;
        font-size: 12px;
        line-height: 1;
        text-transform: uppercase;
        color: $color-primary-light;
        letter-spacing: 2.4px;
        font-weight: 500;
    }

    // Hamburger
    &__hamburger {
        cursor: pointer;
        display: block;
        width: 75px;
        height: 75px;
        background-color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;

        // Selection
        &::selection {
            color: transparent;
        }

    }

    // Menu
    &__menu {
        display: none;

        // First Level
        ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            gap: 40px;

            &,
            li {
                padding: unset;
                margin: unset;
            }

            li {

                &,
                a {
                    display: block;
                }
                
                a {
                    display: block;
                    font-size: 16px;
                    line-height: 24px;
                    color: $color-primary-light;
                    font-weight: 300;
                }

                // Button
                &:last-of-type {

                    a {
                        padding: 30px;
                        font-weight: 400;
                        color: $color-white;
                        background-color: $color-primary;
                    }

                }

            }

        }

    }

    @include bp-md {

        & {
            
            // Hamburger
            &__hamburger {
                display: none;
            }

            // Menu
            &__menu {
                display: block;
            }
            
        }

    }

}