// SCSS for Homepage

body.home {
    overflow: hidden;
}

// Hero
.home-hero {
    margin: -1px 0 100px 0;
    background-color: $color-primary-dark;
    text-align: center;
    padding: 50px 0 260px 0;
    position: relative;
    overflow: hidden;

    // Ellpises
    &::after {
        content: '';
        display: block;
        width: 430px;
        height: 430px;
        background: url('../images/ellipses-blue.svg') no-repeat center;
        background-size: contain;
        position: absolute;
        top: calc(100% - 200px);
        left: calc(50% - 215px);
    }

    // Heading
    &__heading {
        color: $color-white;
        margin: 0 auto 20px auto;
        max-width: 970px;
    }

    // Description
    &__description {
        color: $color-primary-light;
        margin: 0 auto;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
        max-width: 570px;
    }

    @include bp-md {

        & {
            padding: 100px 0 370px 0;

            // Ellipses
            &::after {
                width: 555px;
                height: 555px;
                top: calc(100% - 290px);
                left: calc(50% - 277.5px);
            }

            // Heading
            &__heading {
                margin: 0 auto 40px auto;
            }

            // Description
            &__description {
                font-size: 20px;
                line-height: 37px;
            }

        }

    }

}

// Tools
.home-tools {
    margin: 0 auto 100px auto;

    // Heading
    &__heading {
        margin: 0 0 30px 0;
    }

    // Slider
    .swiper {
        overflow: unset;
    }

    // Item
    &__item {
        border-radius: 8px;
        background-color: $color-white;
        box-shadow: 0 60px 99px 0 rgba(90, 90, 90, 0.05);
        min-height: 400px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        // Color
        &-color {
            flex-grow: 1;
        }

        &.xd &-color {
            background-color: rgba(107, 19, 93, 0.2);
        }

        &.javascript &-color {
            background-color: rgba(240, 219, 79, 0.3);
        }

        &.scss &-color {
            background-color: rgba(205, 103, 153, 0.3);
        }

        &.html &-color {
            background-color: rgba(241, 101, 41, 0.2);
        }

        // Icon
        &-icon {
            display: block;
            width: auto;
            height: 50px;
            object-fit: contain;
        }

        &-color,
        &-content {
            padding: 50px;
        }

        // Name
        &-name {
            margin: 0 0 10px 0;
        }

        // Description
        &-description {
            margin: unset;
            opacity: 1;
        }
        
        &,
        &.swiper-slide-visible {
            transition: opacity 0.5s ease;
        }

        // [State] Slide Visibility
        &:not(.swiper-slide-visible) {
            opacity: 0.4;
        }

    }

    @include bp-md {

        & {
            margin: 0 auto 200px auto;

            // Item
            &__item {
                min-height: 450px;
            }

        }

    }

}

// eBook
.home-ebook {
    margin: 0 auto 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;

    // Image
    &__image {
        margin: 0 0 40px 0;
        width: 100%;
        max-width: 280px;
        height: 400px;
        position: relative;
        transform: rotate(-1deg);
        border-radius: 8px;

        &::before,
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: inherit;
        }

        // Shadow
        &::before {
            position: absolute;
            background: linear-gradient(to bottom, $color-primary, transparent);
            transform: rotate(-8deg);
            z-index: -1;
        }

        // Cover
        &::after {
            background: url('../images/ebook-cover.png') no-repeat center;
            background-size: cover;
        }

    }

    // Content
    &__content {
        text-align: center;
    }

    // Heading
    &__heading {
        margin: 0 0 20px 0;
    }

    // Description
    &__description {
        margin: 0 0 40px 0;
    }

    // Button
    &__button {
        width: 100%;
    }

    @include bp-md {

        & {
            max-width: 960px;
            display: grid;
            grid-template-columns: 375px auto;
            column-gap: 100px;
            margin: 0 auto 200px auto;

            // Image
            &__image {
                margin: unset;
                max-width: unset;
                height: 525px;
            }

            // Content
            &__content {
                text-align: left;
            }

            // Heading
            &__heading {
                margin: 0 0 30px 0;
            }

            // Description
            &__description {
                margin: 0 0 60px 0;
            }

            // Button
            &__button {
                width: fit-content;
            }

        }

    }

}

// Works
.home-works {
    padding: 50px 0;
    background-color: $color-primary-dark;
    margin: 0 0 100px 0;

    // Container
    &__container {
        display: flex;
        flex-wrap: nowrap;
        gap: 16px;
    }

    // Item
    &__item {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        // Image
        &-image {
            display: block;
            width: 100%;
            height: 200px;
            border-radius: 8px;
        }

        // Content
        &-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        // Heading
        &-heading {
            color: $color-white;
            margin: 0 0 15px 0;
        }

        // Description
        &-description {
            color: $color-primary-light;
            margin: 0 0 30px 0;
        }

        // Button
        &-button {
            width: 100%;
            max-width: 300px;
            margin: auto auto 0 auto;
        }

    }

    @include bp-md {

        & {
            padding: 100px 0;
            margin: 0 0 150px 0;

            // Container
            &__container {
                gap: 100px;
            }

            // Item
            &__item {
                display: grid;
                grid-template-columns: 1.1fr 1fr;
                align-items: center;
                column-gap: 80px;

                // Image
                &-image {
                    height: 100%;
                }

                // Content
                &-content {
                    display: block;
                }

                // Heading
                &-heading {
                    margin: 0 0 20px 0;
                }

                // Description
                &-description {
                    margin: 0 0 60px 0;
                }

                // Button
                &-button {
                    width: fit-content;
                    max-width: unset;
                    margin: unset;
                }

            }

        }

    }

}

// Mail
.home-mail {
    margin: 0 auto 100px auto;
    max-width: 770px;
    text-align: center;

    // Heading
    &__heading {
        margin: 0 auto 20px auto;
        max-width: 500px;
    }

    // Description
    &__description {
        margin: 0 auto 40px auto;
        max-width: 570px;
    }

    // Button
    &__button {
        margin: 0 auto;
    }

    @include bp-md {

        & {
            margin: 0 auto 150px auto;

            // Heading
            &__heading {
                max-width: unset;
            }

        }

    }

}